body {
    color: $color-white;
    background: $color-background;
}

header,
main {
    margin: 20px auto 0;
    max-width: 720px;
}

section {
    position: relative;
}

hr {
    margin: 2rem 0;
    border: 0;
    border-top: 1px solid $color-font-secondary;
}