.c-status {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;

    &--visible {
        display: inline-flex;
        padding: 10px;
        border: 1px solid $color-black;
        background: $color-blue;
    }
}

.l-fieldset {
    padding: 8px 8px 8px 0;
    border: none;

    &:not(:last-of-type) {
        border-bottom: 1px solid $color-background-lighter;
    }

    &__header {
        margin-bottom: 1.2rem;
        font-size: 16px;
        font-weight: 600;
    }
}

.c-field {
    &__label {
        display: inline-flex;
        align-items: center;
    }

    &__text {
        margin-left: 8px;
        user-select: none;
    }

    &__description {
        color: $color-font-secondary;
    }
}