fieldset {
    padding: 8px 8px 8px 0;
    border: none;

    label {
        display: inline-flex;
        align-items: center;

        > span {
            margin-left: 8px;
        }
    }

    p {
        color: $color-font-secondary;
    }
}

button {
    display: block;
    padding: 8px;
    color: $color-white;
    border: 1px solid $color-black;
    background: $color-background-darker;
    outline: none;

    &:hover {
        background: $color-background-lighter;
    }
}