.button {
    padding: 8px;
    color: $color-white;
    font-size: 12px;
    border: 2px solid transparent;
    outline: none;
    box-shadow: $box-shadow-inset #6b6e70;
    cursor: pointer;

    &:hover {
        box-shadow: $box-shadow-inset #585858;
    }
}

.button-add {
    background-color: $color-green;
}

.button-edit {
    background-color: $color-blue;
}

.button-delete {
    background-color: $color-red;
}