// Fonts
$font-family-base: "Comic Sans MS", cursive, sans-serif;

// Icons
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/../../dist/fonts" !default;
$icon-pencil2: "\e906";
$icon-clock: "\e94e";
$icon-floppy-disk: "\e962";
$icon-undo2: "\e967";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-blocked: "\ea0e";
$icon-checkmark: "\ea10";

// Colors
$color-green: #0aaa67;
$color-blue: #4083f0;
$color-yellow: #f1e648;
$color-red: #CC4040;
$color-white: #f3f2f2;
$color-gray: #6b6e70;
$color-gray-darker: #585858;

// Misc
$box-shadow-inset: inset 0 1px 20px 2px;