body {
    color: $color-font;
    font-family: $font-family-base;
    font-size: $font-size-base;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1, 
h2, 
h3, 
h4 {
    margin: 0 0 10px;

    a {
        color: $color-font-link;
    }
}

p {
    margin: 0 0 5px;
    font-size: 14px;

    a {
        color: $color-font-link;
    }
}